<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}KAIST Orchestra{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/kao.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        {% block css %}{% endblock %}
        <script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/static/js/kao.js"></script>
        {% block js %}{% endblock %}
    </head>
    <body class="dark-theme" style='width:1200; margin-top:20px'>
        {% if request.user.is_staff %}
        {% csrf_token %}
        <div class="staff"></div>
        {% endif %}
        <div class='dark-theme'>
            <div class="container" id = 'header_container'>
                <div class="col-lg-1" id = "image">
                    <img id = "logo_image" src="../static/image/logo.jpeg">
                </div>
                <div class="col-lg-6" id = "char_static_yellow">
                    <p id = "header_title">
                        KAIST ORCHESTRA
                    </p>
                </div>
                <div class="col-lg-1" id = "char_static_yellow">
                    <p id = "header_menu">
                        ABOUT
                    </p>
                </div>
                <div class="col-lg-1" id = "char_static_yellow">
                    <p id = "header_menu">
                        CONCERT
                    </p>
                </div>
                <div class="col-lg-1" id = "char_static_yellow">
                    <p id = "header_menu">
                        MEDIA
                    </p>
                </div>
                <div class="col-lg-1" id = "char_static_yellow">
                    <p id = "header_menu">
                        BOARD
                    </p>
                </div>
                <div class="col-lg-1" id = "char_static_yellow">
                    <p id = "header_menu">
                        CONTACT
                    </p>
                </div>
            </div>
            {% block content %}
            {% endblock %}
            <footer class="dark-theme">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <span class="copyright">Copyright &copy; KAO 2016</span>
                        </div>
                        <div class="col-lg-4">
                            <ul class="list-inline social-buttons">
                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="list-inline quicklinks">
                                <li>
                                    <a href="#" id = "char_static_white">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#" id = "char_static_white">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>

