{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<body>

<div align= "center" style="color:black">
   <p>
   2015
   <br>
   <span>president: </span>
   <span>junsulee</span>
   <br>
   <span>concertmaster: </span>
   <span>yuji rho</span>
   </p>
   <br>
   <p>
   2015
   <br>
   <span>president: </span>
   <span>junsulee</span>
   <br>
   <span>concertmaster: </span>
   <span>yuji rho</span>
   </p>
   <br>
   <p>
   2015
   <br>
   <span>president: </span>
   <span>junsulee</span>
   <br>
   <span>concertmaster: </span>
   <span>yuji rho</span>
   </p>
   <br>
   <p>
   2015
   <br>
   <span>president: </span>
   <span>junsulee</span>
   <br>
   <span>concertmaster: </span>
   <span>yuji rho</span>
   </p>

</div>

<!-- Se

</body>
</html>

{% endblock %}
