{% extends "base.html" %}
{% block content %}
<div style="margin-top:100px;">
</div>
<div class="container" id="header_container">
   <div>
      <div class="col-lg-2">
         <div style="margin-top:80px;">
         </div>
         <div id="char_static_yellow">
            <div id="about_menu">
               HISTORY
            </div>
         </div>
         <div id="char_static_white">
            <div id="about_menu">
               CONDUCTOR
            </div>
         </div>
         <div id="char_static_white">
            <div id="about_menu">
               MEMBERS
            </div>
         </div>
         <div id="char_static_white">
            <div id="about_menu">
               PARTNERSHIP
            </div>
         </div>
      </div>
      <div class="col-lg-10" style="margin-bottom:1000px">
         <p style="text-align:center">
            <span id = "char_dynamic_white" class="about_history_header">
               TIMELINE
            </span>
            <span id = "char_dynamic_yellow" class="about_history_header">
               STAFF
            </span>
         </p>
         <div style="color:white; margin-top:100px;">
            <div id="char_dynamic_yellow">
               <div id="about_history_staff_year">
                  2016
               </div>
            </div>
            <p>
               <span id = "char_dynamic_yellow" class="staff_info_role">
                  회장    
               </span>
               <span id = "char_dynamic_white" class="staff_info_name">
                  이형진 (첼로)
               </span>
            </p>
            <p>
               <span id = "char_dynamic_yellow" class="staff_info_role">
                  악장     
               </span>
               <span id = "char_dynamic_white" class="staff_info_name">
                  전순서 (첼로)
               </span>
            </p>
         </div>
         <div style="color:white">
            <div id="char_dynamic_yellow">
               <div id="about_history_staff_year">
                  2015
               </div>
            </div>
            <p>
               <span id = "char_dynamic_yellow" class="staff_info_role">
                  회장    
               </span>
               <span id = "char_dynamic_white" class="staff_info_name">
                  이준수 (플룻)
               </span>
            </p>
            <p>
               <span id = "char_dynamic_yellow" class="staff_info_role">
                  악장     
               </span>
               <span id = "char_dynamic_white" class="staff_info_name">
                  노유지 (1st 바이올린)
               </span>
            </p>
         </div>
         <div style="color:white">
            <div id="char_dynamic_yellow">
               <div id="about_history_staff_year">
                  2014
               </div>
            </div>
            <p>
               <span id = "char_dynamic_yellow" class="staff_info_role">
                  회장    
               </span>
               <span id = "char_dynamic_white" class="staff_info_name">
                  김범수 (퍼커션)
               </span>
            </p>
            <p>
               <span id = "char_dynamic_yellow" class="staff_info_role">
                  악장     
               </span>
               <span id = "char_dynamic_white" class="staff_info_name">
                  김휘수 (더블베이스)
               </span>
            </p>
         </div>
         <div style="color:white">
            <div id="char_dynamic_yellow">
               <div id="about_history_staff_year">
                  2013
               </div>
            </div>
            <p>
               <span id = "char_dynamic_yellow" class="staff_info_role">
                  회장    
               </span>
               <span id = "char_dynamic_white" class="staff_info_name">
                  서효진 (비올라)
               </span>
            </p>
            <p>
               <span id = "char_dynamic_yellow" class="staff_info_role">
                  악장     
               </span>
               <span id = "char_dynamic_white" class="staff_info_name">
                  심다현 (1st 바이올린)
               </span>
            </p>
         </div>
         <div style="color:white">
            <div id="char_dynamic_yellow">
               <div id="about_history_staff_year">
                  2012
               </div>
            </div>
            <p>
               <span id = "char_dynamic_yellow" class="staff_info_role">
                  회장    
               </span>
               <span id = "char_dynamic_white" class="staff_info_name">
                  이경욱 (클라리넷)
               </span>
            </p>
            <p>
               <span id = "char_dynamic_yellow" class="staff_info_role">
                  악장     
               </span>
               <span id = "char_dynamic_white" class="staff_info_name">
                  김국현 (오보에)
               </span>
            </p>
         </div>
      </div>
   </div>
</div>

{% endblock %}
