{% extends "base.html" %}
{% block content %}
<div style="margin-top:50px;">
</div>
<div class="container" id="header_container">
	<div>
		<div class="col-lg-1">
		</div>
		<div class="col-lg-4" id="image">
			<img id= "concert_poster_image" src="../static/image/poster_sample.jpg">
		</div>
		<div class="col-lg-1">
		</div>
		<div class="col-lg-6">
			<div id="char_dynamic_yellow">
				<div id="concert_header">
					2015년 가을 정기공연
				</div>
			</div>
			<p>
   			<span id = "char_dynamic_yellow" class="concert_info">
					제목:           
   			</span>
   			<span id = "char_dynamic_white" class="concert_info">
					Finale
   			</span>
   		</p>
   		<p>
   			<span id = "char_dynamic_yellow" class="concert_info">
					일시:           
   			</span>
   			<span id = "char_dynamic_white" class="concert_info">
					2015년 11월 21일
   			</span>
   		</p>
   		<p style="margin-bottom:30px">
   			<span id = "char_dynamic_yellow" class="concert_info">
					지휘:           
   			</span>
   			<span id = "char_dynamic_white" class="concert_info">
					윤성규
   			</span>
   		</p>
   		<p style="margin-bottom:20px">
   			<span id = "char_dynamic_yellow" class="concert_info">
					P R O G R A M       
   			</span>
   		</p>
   		<p>
   			<span id = "char_dynamic_yellow" class="concert_music">
					Jean Sibelius   
   			</span>
   			<span id = "char_dynamic_white" class="concert_music">
					Karelia Overture
   			</span>
   		</p>
   		<p>
   			<span id = "char_dynamic_yellow" class="concert_music">
					Giuseppe Verdi     
   			</span>
   			<span id = "char_dynamic_white" class="concert_music">
					Nabucco Overture
   			</span>
   		</p>
   		<p style="margin-bottom:45px;">
   			<span id = "char_dynamic_yellow" class="concert_music">
					Johann Strauss
   			</span>
   			<span id = "char_dynamic_white" class="concert_music">
					Die Fledermaus
   			</span>
   		</p>
   		<p>
   			<span id = "char_dynamic_yellow" class="concert_music">
					Dvorak      
   			</span>
   			<span id = "char_dynamic_white" class="concert_music">
					Symphony No. 8
   			</span>
   		</p>
		</div>
	</div>
</div>
<hr id="bar_yellow">

<div class="container" id="header_container">
	<div>
		<div class="col-lg-1">
		</div>
		<div class="col-lg-4" id="image">
			<img id= "concert_poster_image" src="../static/image/poster_sample.jpg">
		</div>
		<div class="col-lg-1">
		</div>
		<div class="col-lg-6">
			<div id="char_dynamic_yellow">
				<div id="concert_header">
					2015년 가을 정기공연
				</div>
			</div>
			<p>
   			<span id = "char_dynamic_yellow" class="concert_info">
					제목:           
   			</span>
   			<span id = "char_dynamic_white" class="concert_info">
					Finale
   			</span>
   		</p>
   		<p>
   			<span id = "char_dynamic_yellow" class="concert_info">
					일시:           
   			</span>
   			<span id = "char_dynamic_white" class="concert_info">
					2015년 11월 21일
   			</span>
   		</p>
   		<p style="margin-bottom:30px">
   			<span id = "char_dynamic_yellow" class="concert_info">
					지휘:           
   			</span>
   			<span id = "char_dynamic_white" class="concert_info">
					윤성규
   			</span>
   		</p>
   		<p style="margin-bottom:20px">
   			<span id = "char_dynamic_yellow" class="concert_info">
					P R O G R A M       
   			</span>
   		</p>
   		<p>
   			<span id = "char_dynamic_yellow" class="concert_music">
					Jean Sibelius   
   			</span>
   			<span id = "char_dynamic_white" class="concert_music">
					Karelia Overture
   			</span>
   		</p>
   		<p>
   			<span id = "char_dynamic_yellow" class="concert_music">
					Giuseppe Verdi     
   			</span>
   			<span id = "char_dynamic_white" class="concert_music">
					Nabucco Overture
   			</span>
   		</p>
   		<p style="margin-bottom:45px;">
   			<span id = "char_dynamic_yellow" class="concert_music">
					Johann Strauss
   			</span>
   			<span id = "char_dynamic_white" class="concert_music">
					Die Fledermaus
   			</span>
   		</p>
   		<p>
   			<span id = "char_dynamic_yellow" class="concert_music">
					Dvorak      
   			</span>
   			<span id = "char_dynamic_white" class="concert_music">
					Symphony No. 8
   			</span>
   		</p>
		</div>
	</div>
</div>
<hr id="bar_yellow">

<div class="container" id="header_container">
	<div>
		<div class="col-lg-1">
		</div>
		<div class="col-lg-4" id="image">
			<img id= "concert_poster_image" src="../static/image/poster_sample.jpg">
		</div>
		<div class="col-lg-1">
		</div>
		<div class="col-lg-6">
			<div id="char_dynamic_yellow">
				<div id="concert_header">
					2015년 가을 정기공연
				</div>
			</div>
			<p>
   			<span id = "char_dynamic_yellow" class="concert_info">
					제목:           
   			</span>
   			<span id = "char_dynamic_white" class="concert_info">
					Finale
   			</span>
   		</p>
   		<p>
   			<span id = "char_dynamic_yellow" class="concert_info">
					일시:           
   			</span>
   			<span id = "char_dynamic_white" class="concert_info">
					2015년 11월 21일
   			</span>
   		</p>
   		<p style="margin-bottom:30px">
   			<span id = "char_dynamic_yellow" class="concert_info">
					지휘:           
   			</span>
   			<span id = "char_dynamic_white" class="concert_info">
					윤성규
   			</span>
   		</p>
   		<p style="margin-bottom:20px">
   			<span id = "char_dynamic_yellow" class="concert_info">
					P R O G R A M       
   			</span>
   		</p>
   		<p>
   			<span id = "char_dynamic_yellow" class="concert_music">
					Jean Sibelius   
   			</span>
   			<span id = "char_dynamic_white" class="concert_music">
					Karelia Overture
   			</span>
   		</p>
   		<p>
   			<span id = "char_dynamic_yellow" class="concert_music">
					Giuseppe Verdi     
   			</span>
   			<span id = "char_dynamic_white" class="concert_music">
					Nabucco Overture
   			</span>
   		</p>
   		<p style="margin-bottom:45px;">
   			<span id = "char_dynamic_yellow" class="concert_music">
					Johann Strauss
   			</span>
   			<span id = "char_dynamic_white" class="concert_music">
					Die Fledermaus
   			</span>
   		</p>
   		<p>
   			<span id = "char_dynamic_yellow" class="concert_music">
					Dvorak      
   			</span>
   			<span id = "char_dynamic_white" class="concert_music">
					Symphony No. 8
   			</span>
   		</p>
		</div>
	</div>
</div>
<hr id="bar_yellow">

<div class="container" id="header_container">
	<div>
		<div class="col-lg-1">
		</div>
		<div class="col-lg-4" id="image">
			<img id= "concert_poster_image" src="../static/image/poster_sample.jpg">
		</div>
		<div class="col-lg-1">
		</div>
		<div class="col-lg-6">
			<div id="char_dynamic_yellow">
				<div id="concert_header">
					2015년 가을 정기공연
				</div>
			</div>
			<p>
   			<span id = "char_dynamic_yellow" class="concert_info">
					제목:           
   			</span>
   			<span id = "char_dynamic_white" class="concert_info">
					Finale
   			</span>
   		</p>
   		<p>
   			<span id = "char_dynamic_yellow" class="concert_info">
					일시:           
   			</span>
   			<span id = "char_dynamic_white" class="concert_info">
					2015년 11월 21일
   			</span>
   		</p>
   		<p style="margin-bottom:30px">
   			<span id = "char_dynamic_yellow" class="concert_info">
					지휘:           
   			</span>
   			<span id = "char_dynamic_white" class="concert_info">
					윤성규
   			</span>
   		</p>
   		<p style="margin-bottom:20px">
   			<span id = "char_dynamic_yellow" class="concert_info">
					P R O G R A M     
   			</span>
   		</p>
   		<p>
   			<span id = "char_dynamic_yellow" class="concert_music">
					Jean Sibelius   
   			</span>
   			<span id = "char_dynamic_white" class="concert_music">
					Karelia Overture
   			</span>
   		</p>
   		<p>
   			<span id = "char_dynamic_yellow" class="concert_music">
					Giuseppe Verdi     
   			</span>
   			<span id = "char_dynamic_white" class="concert_music">
					Nabucco Overture
   			</span>
   		</p>
   		<p style="margin-bottom:45px;">
   			<span id = "char_dynamic_yellow" class="concert_music">
					Johann Strauss
   			</span>
   			<span id = "char_dynamic_white" class="concert_music">
					Die Fledermaus
   			</span>
   		</p>
   		<p>
   			<span id = "char_dynamic_yellow" class="concert_music">
					Dvorak      
   			</span>
   			<span id = "char_dynamic_white" class="concert_music">
					Symphony No. 8
   			</span>
   		</p>
		</div>
	</div>
</div>
<hr id="bar_yellow">
{% endblock %}
