{% extends "base.html" %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">


<div id="char_static_white">
  <h1 align="center">Contact Us</h1>
  <center>
  <table width="1200" border="0">
  <tr height="300">
  </tr>
  <tr>
  <td width="25%" align="center" style="padding:10">
    <a href="https://www.youtube.com/channel/UCHtC4naxGrH70SLJc8QEmZA">
      <font color="#E6E6E6"
      <i class="fa fa-youtube-play" style="font-size:24px"></i>
    </font>
    </a>
  </td>

  <td width="25%" align="center" style="padding:10">
    <a href="http://plus.kakao.com/home/l4npll8d">
      <font color="#E6E6E6"
      <i class="fa fa-comments" style="font-size:24px"></i>
    </font>
    </a>
  </td>

  <td width="25%" align="center" style="padding:10">
    <a href="https://www.facebook.com/kaistorchestra">
      <font color="#E6E6E6"
      <i class="fa fa-facebook-official" style="font-size:24px"></i>
    </font>
    </a>
  </td>

  <td width="25%" align="center" style="padding:10">
    <a href="">
      <font color="#E6E6E6"
      <i class="fa fa-mail-forward" style="font-size:24px"></i>
    </font>
    </a>
  </td>
  </tr>

  <tr>
  <td width="25%" align="center" style="padding:20px">
    <p>Youtube 채널 ‘Orchestra KAIST’에 정기공연 영상과 각종 홍보영상들을 업로드하고 있습니다.</p>
  </td>

  <td width="25%" align="center" style="padding:20px">
    <p>YellowID ‘카이스트오케스트라’를 통해 실내악, 정기공연 안내메시지와 이벤트 안내글을 보내드리고 있습니다.</p>
  </td>

  <td width="25%" align="center" style="padding:20px">
    <p>Facebook 페이지를 통해 신입단원 모집, 공연 및 이벤트에 대한 안내를 하고 있습니다.</p>
  </td>

  <td width="25%" align="center" style="padding:20px">
    <p>kaistorchestra.official@gmail.com로 질문을 주시면 답변해드립니다.</p>
  </td>
  </tr>

  </table>
  </center>
</div>

{% endblock %}
