{% extends "base.html" %}
{% block content %}
<div class="boxed">
<center><img src="http://www.tizag.com/pics/htmlT/sunset.gif" width= "1100" height= "400"></center>
</div>
<br>
<hr id="bar_yellow">

<div id="char_static_yellow" align="center">
  <h1>NOTICE</h1>
</div>
<br><br>
<center>
<table border="0" width="500px">
<tr>
<td width="25%" id="char_static_yellow">2016 11 26</td>
<td width="75%" id="char_static_white">——</td>
</tr>
<tr>
<td width="25%" id="char_static_yellow">2016 00 00</td>
<td width="75%" id="char_static_white">————</td>
</tr>
<tr>
<td width="25%" id="char_static_yellow">2016 00 00</td>
<td width="75%" id="char_static_white">————</td>
</tr>
<tr>
<td width="25%" id="char_static_yellow">2016 00 00</td>
<td width="75%" id="char_static_white">————</td>
</tr>
</table>
</center>
<br>
<hr id="bar_yellow">
{{ entrance.content }}
{% endblock %}
